:root {
  /* COLORS */
  --red: #ea5454;
  --skyblue: #44d3d2;
  --orange: #fcae4a;
  --blue: #549ef2;
  --grey: #4d4f62;
  --very-Dark-Blue: hsl(234, 12%, 34%);
  --grayish-Blue: hsl(229, 6%, 66%);
  --very-light-grayor: hsl(0, 0%, 98%);

  --ff-poppins: "Poppins";

  --fs-h1: 3.6rem;
  --fs-para: 1.5rem;
  --fs-h2: 2rem;
  --fs-para-box: 1.3rem;

  --fw-light: 200;
  --fw-medium: 400;
  --fw-bold: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--ff-poppins);
  font-size: 62.5%;
}

main {
  height: 100vh;
}

header {
  margin: 8rem 45rem 0 45rem;
  height: 16.8rem;
  width: 54rem;
  text-align: center;
}

.h1-primary,
.h1-secondary {
  font-size: var(--fs-h1);
  color: var(--grey);
  letter-spacing: 0.25px;
}

.h1-primary {
  font-weight: var(--fw-light);
}

.h1-secondary {
  font-weight: var(--fw-bold);
}

.header-para {
  padding-top: 1.6rem;
  letter-spacing: 0.1px;
  line-height: 2.5rem;
  font-weight: var(--fw-medium);
  width: 54rem;
  font-size: 1.5rem;
  opacity: 0.5;
}

.components {
  margin: 6.4rem 16.5rem 8rem 16.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 53rem;
  width: 111rem;
  align-items: center;
  gap: 3rem;
  /* background-color: #fff; */
}

.component {
  height: 25rem;
  width: 35rem;
  border-radius: 0.8rem;
  box-shadow: 0 1.5rem 3rem -1.1rem rgba(131, 167, 210, 0.5);
  color: var(--grey);
  overflow: hidden;
}

.component-1 {
  grid-row: 1/3;
  border-top: 4px solid #44d3d2;
}

.component-2 {
  border-top: 4px solid #ea5454;
}

.component-3 {
  border-top: 4px solid #fcae4a;
}
.component-4 {
  grid-area: 1/3/3/4;
  border-top: 4px solid #549ef2;
}

.component h2 {
  padding: 3.2rem 0 0 3.2rem;
  padding-right: auto;
  text-align: left;
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  letter-spacing: 0px;
}

.component p {
  padding: 0.6rem 3.2rem 0 3.2rem;
  text-align: left;
  opacity: 0.5;
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-weight: var(--fw-medium);
}

.img {
  width: 6.4rem;
  margin: 4rem 3.2rem 3.2rem 25.4rem;
}

img {
  max-width: 100%;
}
